kestra/flows/adversary_agent.yaml
id: adversary_agent
namespace: redloop.security

description: Red team AI agent that analyzes code for security vulnerabilities

labels:
  project: redloop
  type: security-scan
  agent: adversary

inputs:
  - id: repository_url
    type: STRING
    description: "The repository URL to analyze for vulnerabilities"
    defaults: "https://github.com/kestra-io/scripts"
  - id: branch
    type: STRING
    defaults: "main"
    description: "Branch to analyze for vulnerabilities"

tasks:
  - id: working_directory
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      - id: clone_repository
        type: io.kestra.plugin.git.Clone
        url: "{{ inputs.repository_url }}"
        branch: "{{ inputs.branch }}"
        timeout: PT2M

      - id: read_code
        type: io.kestra.plugin.scripts.shell.Commands
        timeout: PT1M
        commands:
          - |
            for f in $(find . -type f \( -name "*.py" -o -name "*.js" -o -name "*.ts" -o -name "*.tsx" \) | grep -v node_modules | grep -v .git | head -15); do
              echo "=== FILE: $f ==="
              head -150 "$f"
              echo ""
            done > code_content.txt
        outputFiles:
          - code_content.txt

      - id: adversary_agent
        type: io.kestra.plugin.ai.agent.AIAgent
        timeout: PT5M
        retry:
          type: constant
          maxAttempt: 2
          interval: PT10S
        provider:
          type: io.kestra.plugin.ai.provider.GoogleGemini
          apiKey: "{{ secret('GEMINI_API_KEY') }}"
          modelName: gemini-2.5-flash
        prompt: |
          Analyze the following code for security vulnerabilities:
          
          {{ read(outputs.read_code.outputFiles['code_content.txt']) }}
          
          Look for: SQL injection, XSS, RCE, auth flaws, path traversal, hardcoded secrets.
          
          Output as JSON:
          {
            "vulnerabilities": [
              {
                "id": "VULN-001",
                "type": "SQL Injection",
                "severity": "CRITICAL",
                "file": "path/to/file.py",
                "line": 42,
                "vulnerable_code": "the vulnerable code",
                "payload": "attack payload",
                "fix_suggestion": "how to fix"
              }
            ],
            "summary": {
              "total_vulnerabilities": 1,
              "critical": 1,
              "high": 0,
              "medium": 0,
              "low": 0
            },
            "recommendation": "BLOCK"
          }
        systemMessage: |
          You are ADVERSARY, a red team security researcher.
          Find vulnerabilities and generate specific attack payloads.
          Be thorough and always provide fix suggestions.

  - id: log_complete
    type: io.kestra.plugin.core.log.Log
    message: "Adversary agent completed."

errors:
  - id: error_handler
    type: io.kestra.plugin.core.log.Log
    message: "Adversary agent failed: {{ error.message }}"
