kestra/flows/defender_agent.yaml
id: defender_agent
namespace: redloop.security

description: Blue team AI agent that generates security fixes for vulnerabilities

labels:
  project: redloop
  type: security-scan
  agent: defender

inputs:
  - id: repository_url
    type: STRING
    description: "The repository URL to fix"
    defaults: "https://github.com/kestra-io/scripts"
  
  - id: branch
    type: STRING
    defaults: "main"
    description: "Branch to work on"
  
  - id: attack_report
    type: STRING
    description: "Vulnerability report from adversary agent"
    defaults: ""

tasks:
  - id: working_directory
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      - id: clone_repository
        type: io.kestra.plugin.git.Clone
        url: "{{ inputs.repository_url }}"
        branch: "{{ inputs.branch }}"
        timeout: PT2M

      - id: read_code
        type: io.kestra.plugin.scripts.shell.Commands
        timeout: PT1M
        commands:
          - |
            for f in $(find . -type f \( -name "*.py" -o -name "*.js" -o -name "*.ts" -o -name "*.tsx" \) | grep -v node_modules | grep -v .git | head -15); do
              echo "=== FILE: $f ==="
              cat "$f"
              echo ""
            done > code_content.txt
        outputFiles:
          - code_content.txt

      - id: defender_agent
        type: io.kestra.plugin.ai.agent.AIAgent
        timeout: PT5M
        retry:
          type: constant
          maxAttempt: 2
          interval: PT10S
        provider:
          type: io.kestra.plugin.ai.provider.GoogleGemini
          apiKey: "{{ secret('GEMINI_API_KEY') }}"
          modelName: gemini-2.5-flash
        prompt: |
          VULNERABILITY REPORT:
          {{ inputs.attack_report }}
          
          CODE:
          {{ read(outputs.read_code.outputFiles['code_content.txt']) }}
          
          Generate fixes as JSON:
          {
            "fixes": [
              {
                "vulnerability_id": "VULN-001",
                "file": "path/to/file.py",
                "original_code": "vulnerable code",
                "fixed_code": "secure code",
                "explanation": "why this fix works"
              }
            ],
            "summary": {
              "total_fixed": 5,
              "success_rate": "83%"
            }
          }
        systemMessage: |
          You are DEFENDER, a blue team security engineer.
          Generate production-ready secure code fixes.
          Use parameterized queries, input validation, output encoding.

  - id: log_complete
    type: io.kestra.plugin.core.log.Log
    message: "Defender agent completed."

errors:
  - id: error_handler
    type: io.kestra.plugin.core.log.Log
    message: "Defender agent failed: {{ error.message }}"
