kestra/flows/summarizer_agent.yaml
id: summarizer_agent
namespace: redloop.security

description: AI Agent that summarizes vulnerability scan results and makes BLOCK/PASS decisions

inputs:
  - id: vulnerability_data
    type: STRING
    description: "JSON vulnerability data from Adversary Agent scan"
    required: true

  - id: repository_name
    type: STRING
    description: "Name of the scanned repository"
    defaults: "unknown"

tasks:
  - id: summarizer
    type: io.kestra.plugin.ai.agent.AIAgent
    description: "Summarize vulnerabilities and make deployment decision"
    provider:
      type: io.kestra.plugin.ai.provider.GoogleGemini
      apiKey: "{{ secret('GEMINI_API_KEY') }}"
      modelName: gemini-2.5-flash
    
    systemMessage: |
      You are a Security Analyst AI Agent responsible for:
      
      1. SUMMARIZING vulnerability scan data from security tools
      2. ANALYZING risk levels based on vulnerability severity
      3. MAKING DECISIONS on whether to BLOCK or PASS deployments
      
      Decision Rules:
      - BLOCK if ANY of these conditions are true:
        - 1+ CRITICAL severity vulnerabilities
        - 3+ HIGH severity vulnerabilities
        - Risk score >= 7
      
      - PASS if ALL of these conditions are true:
        - 0 CRITICAL severity vulnerabilities
        - < 3 HIGH severity vulnerabilities  
        - Risk score < 7
      
      Risk Score Calculation:
      - CRITICAL vulnerabilities: +3 points each
      - HIGH vulnerabilities: +2 points each
      - MEDIUM vulnerabilities: +1 point each
      - LOW vulnerabilities: +0.5 points each
      - Cap at 10
      
      Always be decisive. Every response must include a clear BLOCK or PASS decision.
    
    prompt: |
      Analyze the following vulnerability scan results and provide a security assessment:
      
      Repository: {{ inputs.repository_name }}
      
      Vulnerability Data:
      {{ inputs.vulnerability_data }}
      
      Provide your analysis as JSON with this exact structure:
      
      {
        "summary": "2-3 sentence executive summary of the security posture",
        "risk_score": 7,
        "decision": "BLOCK",
        "reasoning": "Brief explanation of why this decision was made",
        "vulnerability_counts": {
          "critical": 2,
          "high": 1,
          "medium": 3,
          "low": 0,
          "total": 6
        },
        "priority_fixes": [
          "Fix SQL injection in auth.py line 42",
          "Fix XSS in template.html line 15",
          "Add input validation to user_input.py"
        ],
        "deployment_recommendation": "Do not deploy until critical vulnerabilities are fixed"
      }
      
      Return ONLY valid JSON. No markdown, no explanation outside JSON.

  - id: log_summary
    type: io.kestra.plugin.core.log.Log
    message: "Summarizer Agent Complete - Decision: {{ json(outputs.summarizer.output).decision }}"

outputs:
  - id: summary_result
    type: STRING
    value: "{{ outputs.summarizer.output }}"
  
  - id: decision
    type: STRING  
    value: "{{ json(outputs.summarizer.output).decision }}"
  
  - id: risk_score
    type: INT
    value: "{{ json(outputs.summarizer.output).risk_score }}"
